@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5956e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h1 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 1.5rem;
  text-align: center;
}

.h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem;
  text-align: center;
}

.section {
  @apply container mx-auto flex flex-col justify-between p-20 lg:flex-row;
}
